[Unit]
Description=Starts ydotoold service (with input group)

[Service]
Type=simple
Restart=always
ExecStart=%h/.local/bin/ydotoold-wrapper
KillMode=process
TimeoutSec=180

[Install]
WantedBy=default.target
